:root {

  --secondary: #d50000;

  --primary: #241d60;

  --branco: snow;

  --preto: #24292f;

  --boxDefault: #0366d64d 0 0 0 3px;
}

body {
  background-color: var(--primary);
  color: var(--branco);
  margin: 0 auto;
  width: max-content;
}

#title , h3 {
  text-align: center;
}

.color { /* Requisito 2 */
  border: 1px solid black;
  display: inline-block;
  margin: 0;
  padding: 50px;
}

#preto { /* Requisito 3 */
  background-color: black;
}

#clear-board {
  background-color: var(--secondary);
  color: var(--branco);
  font-size: 25px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  border: none;
  align-items: center;
  transition: all 0.5s;
}

#clear-board:hover {
  background-color: var(--preto);
  color: var(--secondary);
}

hr {
  border: 2px solid var(--branco);
  width: 100%;
  margin-inline-start: 0;
}

#tamanho-quadro {
  background-color: var(--preto);
  font-size: 25px;
  height: 50px;
  line-height: 50px;
  margin: 10px 0;
  width: 100%;
}

#board-size {
  height: 20px;
  background-color: var(--branco);
}

#generate-board {
  color: var(--branco);
  font-size: 25px;
  cursor: pointer;
  border: none;
  background-color: var(--primary);
  padding: 8px;
  transition: all 0.5s;
}

#generate-board:hover {
  background-color: var(--secondary);
  border-radius: 10px;
  color: var(--preto);
}

#pixel-board {
  display: flex;
}

.row {
  display: flex;
  flex-direction: column;
}

.pixel { /* Requisito 5 */
  background-color: white;
  border: 1px solid black;
  height: 30px;
  width: 30px;
  padding: 40px;
  display: inline-block;
}
