body {
    background-color: lightgray;
}

.color { /* Requisito 2*/
    border: 1px solid black; 
    display: inline-block;
    margin: 0px;
    padding: 50px;
}

#cor1 {
    background-color: black; /* Requisito 3 */
    /* background-color: #7CFFCB; */
}

#cor2 {
    background-color: #791E94;
}

#cor3 {
    background-color: #F7D126;
}

#cor4 {
    background-color: #FD721D;
}

#pixel-board {
}

.pixel { /*Requisito 5*/
    background-color: white;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    padding: 40px;
    display: inline-block;
}